[user]
	name = Ben Bourdin
	email = ben.bourdin451@gmail.com
[core]
	pager = diff-so-fancy | less --tabs=2 -RFX
	excludesfile = ~/.gitignore
	editor = emacsclient
[diff]
	tool = ediff
[difftool "ediff"]
	cmd = emacsclient --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
[merge]
	tool = ediff
[mergetool "ediff"]
  cmd = emacsclient --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
[alias]
	b = branch -v
	s = status
	sa = stash apply
	sl = stash list
	ss = stash push
	sc = stash push -um 'current'
	sp = stash pop
	unstage = reset HEAD
	l = log --pretty=format:\"%C(yellow)%h %C(red)%an %C(blue)%ar %C(reset)%s\"
	lp = log --pretty=format:\"%C(yellow)%h %C(red)%an %C(blue)%ad %C(reset)%s\"
	yesterday = log --pretty=format:\"%C(yellow)%h %C(red)%an %C(blue)%ar %C(reset)%s\" --since=yesterday
	last = log -1
	co = checkout
	ci = commit
	p = pull
	f = fetch origin
	g = grep -in
	clear = git reset --hard HEAD
[remote "origin"]
	prune = true
[pull]
	rebase = true
[github]
	user = ben-bourdin451
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
