[user]
	name = Ben Bourdin
	email = ben.bourdin451@gmail.com
[core]
	pager = less --tabs=2 -RFX
	excludesfile = ~/.gitignore
	editor = emacsclient
[pager]
	diff = hunk pager
	show = hunk pager
[diff]
	tool = ediff
[difftool "ediff"]
	cmd = emacsclient --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
[merge]
	tool = ediff
[mergetool "ediff"]
  cmd = emacsclient --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
[alias]
	b = branch -v
	ci = commit
	clear = git reset --hard HEAD
	co = checkout
	f = fetch origin
	g = grep -in
	l = log --pretty=format:\"%C(yellow)%h %C(red)%an %C(blue)%ar %C(reset)%s\"
	last = log -1
	lp = log --pretty=format:\"%C(yellow)%h %C(red)%an %C(blue)%ad %C(reset)%s\"
	p = pull
	s = status
	sa = stash apply
	sc = stash push -um 'current'
	sl = stash list
	sp = stash pop
	ss = stash push
	unstage = reset HEAD
	wt = worktree
	yesterday = log --pretty=format:\"%C(yellow)%h %C(red)%an %C(blue)%ar %C(reset)%s\" --since=yesterday
[remote "origin"]
	prune = true
[pull]
	rebase = true
[github]
	user = ben-bourdin451
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com
[init]
	defaultBranch = main
